* {
  box-sizing: border-box; 
} 
.editor-note {
    color: rgba(32, 2, 2, 0.992);
    width: auto; /*Ширина блока*/
    /* border: 2px solid green; рамка вокруг текста */
    text-align: center;
    height: 120px;
    padding-top: 10px;
    background-color: #EE0729;
    border-radius: 20px;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.4),
                inset 4px 4px 3px rgba(0, 0, 0, 0.4)
}
.RElogo {
    width: 75%;
    margin: 0 auto;
    display: block;
}
.editor-note2 {
    /* border: 2px solid green; */
    padding: 30px;
    margin: 0 auto;
    width: 500px;
    background-color: #EE0729;
    border-radius: 20px;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.4),
                inset 4px 4px 3px rgba(0, 0, 0, 0.4)
}
.navigation {
    /* border: 2px solid green; */
    width: auto;
    margin: 0 auto;
    background-color: #EE0729;
    display: flex;
    border-radius: 20px;
    padding-left: 0;
    justify-content: center;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.4),
                inset 4px 4px 3px rgba(0, 0, 0, 0.4)
}
.navigation li,a {
    list-style-type:none;
    margin-right: 10px;
    padding: 5px;
    color: aliceblue;
    text-decoration: none;
}
.navigation a:hover {
    color: black;
}
.Video1 {
    border-radius: 25px;
}
.editor-note li:hover {
    color: rgb(2, 0, 0);
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
}
html {
    font: 10px; /*размер текста в пикселях*/
    font-family: 'Bebas Neue', cursive;
    background-color: #090000;
    background-image: url(../images/rebg.png);
    background-size:contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px whitesmoke;
    font-size: 50px;
    text-align: center; /*Расположение текста на странице*/
}
p {
    text-align: center;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #2E415B;
    padding: 0 20px 20px 20px;
    border: 2px solid black;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.4),
                inset 4px 4px 3px rgba(0, 0, 0, 0.4)
}
.RE-images {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 24px;
}
h2 {
    text-align: center;
}
button {
    font-size: 20px;
    color: aqua;
    background-color: black;
    border-radius: 20px;
}
.editor-homelink {
    text-align: right;
}
.ul-one {
    /* border: 2px solid green; */
    width: auto;
    margin: 0 auto;
    background-color: #EE0729;
    border-radius: 20px;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.4),
                inset 4px 4px 3px rgba(0, 0, 0, 0.4)
}
.ol-one {
    /* border: 2px solid green; */
    background-color: #EE0729;
    border-radius: 20px;
    box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.4),
                inset 4px 4px 3px rgba(0, 0, 0, 0.4)
}
ul li:hover {
    color: rgb(2, 0, 0);
    line-height: 2;
    letter-spacing: 2px;
}
.ol-one li:hover {
    color: rgb(2, 0, 0);
    line-height: 2;
    letter-spacing: 2px;
}
/* .testlink p,a{
    text-decoration:underline;
} */
/* .testlink a:hover{
    letter-spacing: 1px;
    color: #090000;
} */